<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" executionOrder="random">
    <testsuites>
        <testsuite name="pluginBuilder">
            <directory prefix="Test" suffix=".php">./Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>


    <logging>
        <log type="coverage-clover" target="htdocs/logs/clover.xml"/>
    </logging>
</phpunit>